:root {
    /* Основные цвета */
    --primary-color: #6441a5;
    --hover-primary: #563d82;
    --secondary-color: #ff9900;
    --hover-color: #e68500;
    --dark-bg: #1e1e1e;
    --footer-bg: #111;
    --light-text: white;
    --dark-text: black;

    /* Тени */
    --shadow-light: 0 4px 6px rgba(0, 0, 0, 0.2);
    --shadow-medium: 0 6px 12px rgba(0, 0, 0, 0.4);
    --shadow-dark: 0px 4px 8px rgba(0, 0, 0, 0.5);

    /* Отступы */
    --header-padding: 30px 0;
    --button-padding: 12px 20px;
    --section-padding: 40px 20px;

    /* Скругления */
    --border-radius: 8px;
}
